@charset "UTF-8";
a:hover {
  text-decoration: none;
}

.link-dark {
  color: #444;
}

.link-dark:hover {
  color: #666;
}
@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 200;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_extrathin.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_extrathin.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 200;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_extrathin-italic.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_extrathin-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro 200';
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_extrathin.eot");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 300;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_thin.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_thin.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 300;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_thin-italic.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_thin-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro 300';
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_thin.eot");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 400;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_text-italic.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_text-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 500;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_medium.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_medium.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 500;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_medium-italic.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_medium-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro 500';
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_medium.eot");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 600;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_semibold.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_semibold.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 600;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_semibold-italic.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_semibold-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro 600';
  src: url("http://52.43.131.169:5000/templates/assets//fonts/myriad-set-pro_semibold.eot");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/myriad-set-pro_bold.woff") format("woff"), url("/assets/fonts/myriad-set-pro_bold.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/myriad-set-pro_bold-italic.woff") format("woff"), url("/assets/fonts/myriad-set-pro_bold-italic.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro 700';
  src: url("/assets/fonts/myriad-set-pro_bold.eot");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

@font-face {
  font-family: 'Myriad Set Pro';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/myriad-set-pro_text.eot");
  src: url("/assets/fonts/myriad-set-pro_text.woff") format("woff"), url("/assets/fonts/myriad-set-pro_text.ttf") format("truetype");
  /* Copyright (c) 1992 Adobe Systems Incorporated. All Rights Reserved. Myriad is a trademark of Adobe Systems Incorporated. */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Apple Icons Custom;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_text.eot");
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_text.eot?#iefix") format("embedded-opentype"), url("appleicons_text.woff") format("woff"), url("appleicons_text.ttf") format("truetype");
}

@font-face {
  font-family: Apple Icons Custom;
  font-weight: 200;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_thin.eot");
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_thin.eot?#iefix") format("embedded-opentype"), url("/appleicons_thin.woff") format("woff"), url("appleicons_thin.ttf") format("truetype");
}

@font-face {
  font-family: Apple Icons Custom;
  font-weight: 100;
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_ultralight.eot");
  src: url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_ultralight.eot?#iefix") format("embedded-opentype"), url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_ultralight.woff") format("woff"), url("http://52.43.131.169:5000/templates/assets//fonts/appleicons_ultralight.ttf") format("truetype");
}
.icon:before, .icon:after, .more:before, .more:after {
  font-family: Apple Icons Custom;
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.icon:before, .more:before {
  display: none;
}

.icon-after:after, .more:after {
  padding-left: .3em;
  top: 0;
}

.icon-before:before {
  padding-right: .3em;
  display: inline-block;
  top: -.125em;
}

.icon-before:after {
  display: none;
}

.icon-apple:before, .icon-apple:after {
  content: "";
}

.icon-chevrondown:before, .icon-chevrondown:after {
  content: "";
}

.icon-chevrondowncircle:before, .icon-chevrondowncircle:after {
  content: "";
}

.icon-chevronleft:before, .icon-chevronleft:after {
  content: "";
}

.icon-chevronleftcircle:before, .icon-chevronleftcircle:after {
  content: "";
}

.icon-chevronright:before, .icon-chevronright:after {
  content: "";
}

.icon-chevronrightcircle:before, .icon-chevronrightcircle:after {
  content: "";
}

.icon-chevronup:before, .icon-chevronup:after {
  content: "";
}

.icon-chevronupcircle:before, .icon-chevronupcircle:after {
  content: "";
}

.icon-downloadcircle:before, .icon-downloadcircle:after {
  content: "";
}

.icon-downloadsolid:before, .icon-downloadsolid:after {
  content: "";
}

.icon-external:before, .icon-external:after {
  content: "";
}

.icon-grid:before, .icon-grid:after {
  content: "";
}

.icon-listcircle:before, .icon-listcircle:after {
  content: "";
}

.icon-pausecircle:before, .icon-pausecircle:after {
  content: "";
}

.icon-playcircle:before, .icon-playcircle:after {
  content: "";
}

.icon-playsolid:before, .icon-playsolid:after {
  content: "";
}

.icon-replay:before, .icon-replay:after {
  content: "";
}

.icon-replaycircle:before, .icon-replaycircle:after {
  content: "";
}

.icon-stopcircle:before, .icon-stopcircle:after {
  content: "";
}

.icon-stopsolid:before, .icon-stopsolid:after {
  content: "¨";
}

.icon-favorite:before, .icon-favorite:after {
  content: "";
}

.icon-share:before, .icon-share:after {
  content: "";
}

.icon-facebook:before, .icon-facebook:after {
  content: "";
}

.icon-instagram:before, .icon-instagram:after {
  content: "";
}

.icon-link:before, .icon-link:after {
  content: "";
}

.icon-linkedin:before, .icon-linkedin:after {
  content: "";
}

.icon-mail:before, .icon-mail:after {
  content: "";
}

.icon-pinterest:before, .icon-pinterest:after {
  content: "";
}

.icon-qqweibo:before, .icon-qqweibo:after {
  content: "";
}

.icon-qzone:before, .icon-qzone:after {
  content: "";
}

.icon-renren:before, .icon-renren:after {
  content: "";
}

.icon-snapchat:before, .icon-snapchat:after {
  content: "";
}

.icon-tumblr:before, .icon-tumblr:after {
  content: "";
}

.icon-twitter:before, .icon-twitter:after {
  content: "";
}

.icon-weibo:before, .icon-weibo:after {
  content: "";
}

.icon-circle:before, .icon-circle:after {
  content: "";
}

.icon-check:before, .icon-check:after {
  content: "";
}

.icon-checkcircle:before, .icon-checkcircle:after {
  content: "";
}

.icon-checksolid:before, .icon-checksolid:after {
  content: "";
}

.icon-reset:before, .icon-reset:after {
  content: "";
}

.icon-resetcircle:before, .icon-resetcircle:after {
  content: "";
}

.icon-resetsolid:before, .icon-resetsolid:after {
  content: "";
}

.icon-exclamation:before, .icon-exclamation:after {
  content: "";
}

.icon-exclamationcircle:before, .icon-exclamationcircle:after {
  content: "";
}

.icon-exclamationsolid:before, .icon-exclamationsolid:after {
  content: "";
}

.icon-infocircle:before, .icon-infocircle:after {
  content: "";
}

.icon-questioncircle:before, .icon-questioncircle:after {
  content: "";
}

.icon-questionsolid:before, .icon-questionsolid:after {
  content: "";
}

.icon-plus:before, .icon-plus:after {
  content: "";
}

.icon-pluscircle:before, .icon-pluscircle:after {
  content: "";
}

.icon-plussolid:before, .icon-plussolid:after {
  content: "";
}

.icon-minus:before, .icon-minus:after {
  content: "";
}

.icon-minuscircle:before, .icon-minuscircle:after {
  content: "";
}

.icon-minussolid:before, .icon-minussolid:after {
  content: "";
}

.icon-close:before, .icon-close:after {
  content: "";
}

.icon-paddledown:before, .icon-paddledown:after {
  content: "";
}

.icon-paddleleft:before, .icon-paddleleft:after {
  content: "";
}

.icon-paddleright:before, .icon-paddleright:after {
  content: "";
}

.icon-paddleup:before, .icon-paddleup:after {
  content: "";
}

.icon-avatar:before, .icon-avatar:after {
  content: "";
}

.icon-cart:before, .icon-cart:after {
  content: "";
}

.icon-chat:before, .icon-chat:after {
  content: "";
}

.icon-compare:before, .icon-compare:after {
  content: "";
}

.icon-star:before, .icon-star:after {
  content: "";
}

.icon-gallery:before, .icon-gallery:after {
  content: "";
}

.icon-pickup:before, .icon-pickup:after {
  content: "";
}

.icon-search:before, .icon-search:after {
  content: "";
}

.icon-shipping:before, .icon-shipping:after {
  content: "";
}

.icon-phone:before, .icon-phone:after {
  content: "";
}

.icon-heart:before, .icon-heart:after {
  content: "";
}

.icon-heartfilled:before, .icon-heartfilled:after {
  content: "";
}

.icon-gift:before, .icon-gift:after {
  content: "";
}

.icon-engraving:before, .icon-engraving:after {
  content: "";
}

.icon-halfstar:before, .icon-halfstar:after {
  content: "";
}

.icon-geolocation:before, .icon-geolocation:after {
  content: "";
}

.icon-filter:before, .icon-filter:after {
  content: "";
}

.icon-applestore:before, .icon-applestore:after {
  content: "";
}

.icon-filedownload:before, .icon-filedownload:after {
  content: "";
}

.icon-calendar:before, .icon-calendar:after {
  content: "";
}

.more:before, .more:after {
  content: "";
}

.more-block {
  margin-top: .5em;
}

.app-icon {
  margin-bottom: 0.75rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  background-color: #333;
  border-radius: .75rem;
  color: #fff;
}

.app-icon .fa {
  display: block;
  line-height: 5rem;
  text-align: center;
}

.app-icon-red {
  background-image: linear-gradient(to bottom, #FF5E3A 0%, #FF2A68 100%);
  background-repeat: repeat-x;
}

.app-icon-orange {
  background-image: linear-gradient(to bottom, #FF9500 0%, #FF5E3A 100%);
  background-repeat: repeat-x;
}

.app-icon-yellow {
  background-image: linear-gradient(to bottom, #FFDB4C 0%, #FFCD02 100%);
  background-repeat: repeat-x;
}

.app-icon-green {
  background-image: linear-gradient(to bottom, #87FC70 0%, #0BD318 100%);
  background-repeat: repeat-x;
}

.app-icon-teal {
  background-image: linear-gradient(to bottom, #52EDC7 0%, #5AC8FB 100%);
  background-repeat: repeat-x;
}

.app-icon-blue {
  background-image: linear-gradient(to bottom, #1AD6FD 0%, #1D62F0 100%);
  background-repeat: repeat-x;
}

.app-icon-purple {
  background-image: linear-gradient(to bottom, #C644FC 0%, #5856D6 100%);
  background-repeat: repeat-x;
}

.app-icon-pink {
  background-image: linear-gradient(to bottom, #EF4DB6 0%, #C643FC 100%);
  background-repeat: repeat-x;
}

.app-icon-black {
  background-image: linear-gradient(to bottom, #4A4A4A 0%, #2B2B2B 100%);
  background-repeat: repeat-x;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.as-l-container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.as-pdp-displayarea {
  padding-top: 60px;
  padding-right: 30px;
  padding-bottom: 39px;
}

.as-pdp-displayarea .as-pdp-title h1 {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 300;
  letter-spacing: 0;
}

.as-pdp-purchaseinfosection {
  font-size: 14px;
  line-height: 1.28583;
  font-weight: 400;
  letter-spacing: 0;
}

.as-pdp-purchaseinfosection .as-pdp-purchaseinfo {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.as-pdp-purchaseinfosection .as-pdp-prodvariation {
  padding: 22px 0 7px;
}

.as-pdp-purchaseinfosection .as-pdp-prodvariations-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0;
  display: block;
  margin-bottom: 13px;
}

.as-pdp-purchaseinfosection .as-pdp-addtocart {
  padding: 32px 0 0;
}

.as-pdp-purchaseinfosection .add-to-cart-btn-group {
  width: 60%;
}

.as-purchaseinfo {
  font-size: 14px;
  line-height: 1.28583;
  font-weight: 400;
  letter-spacing: 0;
}

.as-price-currentprice {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0;
  padding: 0 0 8px;
  margin: 3px 0 0;
}

.as-price-previousprice {
  font-size: 18px;
  line-height: 1.11115;
  font-weight: 300;
  letter-spacing: 0;
  color: #999;
  display: inline-block;
  text-decoration: line-through;
  padding-left: .5rem;
}

.as-purchaseinfo-availabilityinfo {
  font-size: 0.78rem;
  padding: 18px 0 19px;
}

.as-purchaseinfo-availabilityinfo .icon {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 7px;
  color: #999;
}

.as-purchaseinfo-availabilityinfo .as-purchaseinfo-dudeinfo {
  color: #666;
  padding-bottom: 10px;
}

.as-purchaseinfo-share {
  padding: 22px 0 0;
  border-top: 1px solid #d6d6d6;
}

.product-info {
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
  outline: none;
}

.product-info .gallery {
  margin-top: 48px;
}

/**
 *
 * accordion
 */
.as-accordion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e3e3e3;
}

.as-accordion-item {
  border-top: 1px solid #e3e3e3;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.as-accordion-item h3 {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 300;
  letter-spacing: 0;
  word-wrap: break-word;
}

.as-accordion-header {
  padding: 40px 0px;
  margin: 0;
}

.as-accordion-header .as-accordion-button {
  color: #333;
  cursor: pointer;
  display: block;
  width: 100%;
}

.as-accordion-header .as-accordion-button:active, .as-accordion-header .as-accordion-button:focus {
  color: #333;
  text-decoration: none;
}

.as-accordion-header .as-accordion-button:hover {
  color: #08c;
  text-decoration: none;
}

.as-accordion-header .as-accordion-button:hover .icon {
  color: #08c;
}

.as-accordion-header .collapsed .as-accordion-plusicon {
  -webkit-transform: rotate(0) scale(0.9);
  -ms-transform: rotate(0) scale(0.9);
  transform: rotate(0) scale(0.9);
}

.as-accordion-header .as-accordion-title, .as-accordion-header .as-accordion-plusicon {
  display: table-cell;
  vertical-align: middle;
}

.as-accordion-header .as-accordion-title {
  font-size: 42px;
  line-height: 1.14286;
  font-weight: 300;
  letter-spacing: 0;
  width: 100%;
}

.as-accordion-header .as-pdp-accordionbox .as-pdp-accordionbutton {
  padding: 0 9px;
}

.as-accordion-header .as-accordion-plusicon {
  font-size: 44px;
  line-height: 1.09091;
  font-weight: 100;
  letter-spacing: 0;
  color: #333;
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  padding: 0;
}

.as-productinfosection-sidepanel {
  padding: 43px 0;
}

.as-productinfosection-sidepanel > h3 {
  margin-right: 35px;
}

.as-productinfosection-mainpanel {
  padding: 40px 0;
  border-bottom: 1px solid #d6d6d6;
}

.as-productinfosection-mainpanel h4, .as-productinfosection-mainpanel dt, .as-productinfosection-mainpanel th {
  font-size: 18px;
  line-height: 1.4446;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.as-productinfosection-mainpanel th {
  width: 40%;
}

.as-productinfosection-mainpanel p {
  margin-bottom: 12px;
}

.as-productinfosection-mainpanel > :last-child {
  margin-bottom: 0;
}

.as-accordion-item .as-productinfosection-panel:first-child .as-productinfosection-mainpanel,
.as-accordion-item .as-productinfosection-panel:first-child .as-productinfosection-sidepanel {
  padding-top: 0;
}

.as-accordion-item .as-productinfosection-panel:last-child .as-productinfosection-mainpanel {
  border-bottom: 0;
}

.spec-table tbody :first-child th,
.spec-table tbody :first-child td {
  padding-top: 0;
  border-top: 0;
}

.spec-table tbody :last-child th,
.spec-table tbody :last-child td {
  padding-bottom: 0;
}

#techSpecsTableView {
  padding-top: 40px;
}

#techSpecsCardView {
  text-align: center;
}

#techSpecsCardView .card-group .card {
  border-bottom: 0;
}

#techSpecsCardView .card-group:first-child .card {
  border-top: 0;
}

#techSpecsCardView .card-group .card:first-child,
#techSpecsCardView .card-group .card:last-child {
  border-radius: 0;
}

.as-histogram {
  font-size: 16px;
  line-height: 1.6875;
  font-weight: 400;
  letter-spacing: 0;
}

.as-histogram-ratingtable {
  width: 100%;
}

.as-histogram-caption {
  font-weight: 600;
  color: #333;
  caption-side: top;
}

.as-histogram-ratingrank {
  white-space: nowrap;
}

.as-histogram-ratinglink {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

.as-histogram-progressbar {
  width: 100%;
  padding: 0 12px;
}

.as-histogram-progressbar .progress {
  margin-bottom: 0;
}

.as-histogram-ratingcount {
  text-align: right;
}

.as-pdp-rating-writereview {
  padding-top: 8px;
}

/**
 * Ratings
 */
.as-starrating {
  font-weight: 200;
  font-size: 26px;
}

.as-starrating .star-filled {
  color: #08c;
}

.as-starrating .star-empty {
  color: #e3e3e3;
}

.as-pdp-productrating {
  font-size: 18px;
}

/**
 * Reviews
 */
.as-reviewlist {
  list-style: none;
  padding: 0;
}

.as-reviewlist .as-reviewlist-items {
  padding: 32px 0 27px;
  border-bottom: 1px solid #d6d6d6;
}

.as-reviewlist li:last-child {
  border-bottom: 0;
}

.as-reviewlist .as-starrating {
  font-size: 14px;
}

.as-reviewlist h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 11px 0 2px;
}

.as-reviewlist .review-footer {
  list-style: none;
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.28583;
  color: #999;
  padding: 0;
}

.as-reviewlist .review-footer li {
  margin-bottom: 6px;
}

.as-reviewlist .review-footer li:last-child {
  margin-bottom: 0px;
}

.as-reviewlist .as-reviewlist-controls {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  text-align: center;
  border-left: 1px solid #d6d6d6;
}

.btn-color-swatch {
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  margin-bottom: 1.33333em;
  padding: 3px;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.btn-color-swatch.focus {
  outline: none !important;
}

.btn-color-swatch.active, .btn-color-swatch.active:hover {
  border-color: #08c;
  cursor: default;
}

.btn-color-swatch:hover {
  border-color: #d6d6d6;
  text-decoration: none;
}

.btn-color-swatch .btn-color-swatch-wrapper {
  background: #ccc center center;
  border-radius: 50%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.13);
  display: block;
  width: 32px;
  height: 32px;
}

.btn-color-swatch .btn-color-swatch-img {
  overflow: hidden;
  border-radius: 50%;
}

.btn-color-swatch-label {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.btn-group-icon .btn {
  padding: 0.5rem;
}

.btn-group-icon .btn.btn-sm {
  padding: 0.4rem;
}

.btn-group-icon .btn.btn-lg {
  padding: 0.75rem;
}

.btn-group-color-swatch::after {
  display: block;
  content: "";
  clear: both;
}

.btn-group-color-swatch > .btn {
  float: left;
  margin: 0 7px 4px 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}

.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}

.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.nav {
  font-size: 0.9rem;
}

.nav-tabs {
  border-bottom: 1px solid #d6d6d6;
}

.nav-tabs::after {
  display: block;
  content: "";
  clear: both;
}

.nav-tabs .nav-item {
  float: left;
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 1rem;
}

.nav-tabs .nav-link {
  display: block;
  padding: 0.4em 0;
  border-width: 0 0 2px;
}

.nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:focus, .nav-tabs .nav-link.disabled:hover {
  color: #999;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: #333;
  background-color: #fff;
  border-color: #333;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.nav-pills .nav-link {
  padding: 0.4em 0.8em;
}

.navbar-brand .nav-item {
  padding: 0 !important;
}

.navbar-nav .nav-link {
  padding-top: .55rem;
  padding-bottom: .55rem;
}

.nav-justified {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-justified .navbar-brand {
  margin-right: 0;
}

.progress[value] {
  height: 14px;
  border-radius: 0;
}

.progress[value]::-moz-progress-bar {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.progress[value]::-webkit-progress-value {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.progress[value="100"]::-moz-progress-bar {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.progress[value="100"]::-webkit-progress-value {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.progress[value]::-webkit-progress-bar {
  border-radius: 0;
}

base::-moz-progress-bar,
.progress[value] {
  border-radius: 0;
}

@media screen and (min-width: 0\0) {
  .progress {
    border-radius: 0;
  }
  .progress-bar {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .progress[width="100%"] {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.listing-head {
  /*background-image: url("http://52.43.131.169:5000/templates/assets//img/category-bg.jpg");*/
}

.sub-category {
  background-color: rgba(255, 255, 255, 0.8);
  padding: .6rem;
  border-bottom: 1px solid #ccc;
}

.sub-category h4 {
  margin: 0;
}

.listing-title {
  text-align: center;
  padding: 7rem 0;
  border-bottom: 1px solid #ccc;
}

.o-sort {
  padding: .6rem;
  border-bottom: 1px solid #ccc;
}

.product-card {
  text-align: center;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  padding: 1.5rem;
}

.product-card img {
  width: 100%;
}

.product-card .product-card-text a {
  display: block;
  text-decoration: none;
}

.product-card .product-card-text span {
  display: block;
}

.site-filters {
  padding: 0 2rem 0 .6rem;
  border-right: 1px solid #ccc;
}

.site-filters .filter {
  border-bottom: 1px solid #ddd;
  padding: .7rem 0;
}

.site-filters .filter .filter-title {
  font-weight: bold;
  display: block;
}

.site-filters .filter .filter-item {
  margin-top: .7rem;
}

.site-filters .filter a {
  color: #444;
  text-decoration: none;
}

.site-filters .filter ul {
  margin: 0;
}

.site-filters .filter li {
  line-height: 32px;
}
/*Custom added css from reactstorybook ecom components below: */
.cart-list .cart-thumb {
    width: 80px;
}
.d-flex {
    display: flex !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.cart-list .cart-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.align-items-center {
    align-items: center !important;
}
.media {
    display: flex;
    align-items: flex-start;
}
.mr-auto {
    margin-right: auto !important;
}
.media-body {
    flex: 1;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.add-outline {
    border: 1px solid #ccc;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
.product-card .product-card-text {
    padding: 2rem 0px;
}
/*# sourceMappingURL=bluerain-bootstrap-theme-ecom.css.map */